.cache
package.json
package-lock.json
public
build
dist
es
esm
lib
.*
*.md
*.png
*.svg
**/assets/**
LICENSE

node_modules/
public/

# umi
**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production
.umi-test
