.chart-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  &-title {
    flex: none;
    font-size: 28px;
    margin-bottom: 16px;
  }

  &-description {
    flex: none;
    color: #999;
    font-size: 13px;
    margin-bottom: 16px;
  }

  .canvas-container {
    flex: 1;
  }
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
    }

    li:hover {
      cursor: pointer;
    }
  }
}

.columnTable {
  border-collapse: collapse;
  font-size: 12px;

  th,
  td {
    border: 1px solid #999;
    padding: 0.3rem;
    text-align: center;
  }
}

.ant-layout-header {
  box-shadow: 0 2px 8px #f0f1f2;
  background-color: #fff;
  z-index: 10;
  padding: 0;
}

.ant-layout-content,
.ant-layout-sider-children {
  background-color: #fff;
}

.ant-layout-sider-children {
  border-right: 1px solid #f0f0f0;
}

.ant-layout.ant-layout-has-sider>.ant-layout-content {
  overflow-x: scroll;
}

#custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#custom-trigger .trigger:hover {
  color: #1890ff;
}

#custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
