@import "antd/dist/antd.less";

#dashboard {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}
.chart_view {
  height: 350px;
  width: 33.3%;
  border-radius: 5px;
  padding: 20px;
}

.cluster_0{
  background-color:rgba(175, 220, 202, 0.3);
}
.cluster_1{
  background-color:rgba(247, 232, 145, 0.3);
}
.cluster_2{
  background-color:rgba(242, 205, 197, 0.3);
}

#toolbar {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px 8px 16px;
  background-color: #ffffff;
}

.title_view{
  display: flex;
  flex: none;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 12px;
  color: #000;
  font-size: 14px;
  line-height: 20px;
}
