.canvas-container {
  height: 500px;
}

nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      text-align: center;
      padding: 14px 16px;
    }

    li:hover {
      cursor: pointer;
    }
  }
}
